.grid {
	ul {
		@media (min-width: $breakpoint-small) {
			//margin-left: -1.5rem;
			//margin-right: -1.5rem;
			@include clearfix;

			li {
				float: left;
				width: 50%;
			}

			a {
				padding-left: 0;
				padding-right: 3rem;
			}
		}

		@media (min-width: $breakpoint-medium) {
			li {
				width: 33.33333%;
			}
		}

		&.mini {
			a {
				padding-left: 0;
				padding-right: 3rem;
			}

			@media (min-width: $breakpoint-medium) {

				li {
					float: left;
					width: 100%;
				}
			}

			@media (min-width: $breakpoint-large) {
				li {
					width: 50%;
				}
			}

			span.h2 {
				padding-top: 1rem;
			}
		}

		li {
			margin-bottom: 3rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			display: block;

			&:hover {
				.img-wrapper {
					&:before {
						opacity: 1;
					}
					&:after {
						opacity: .45;
					}
				}
			}
		}

		.img-wrapper
		{
			position: relative;

			&:before
			{
				content: "View Release";
				color: $color-white;
				@extend .h2;
				font-weight: 800;
				position: absolute;
				top: 50%;
				width:100%;
				text-align: center;
				margin: auto;
				opacity: 0;
				-webkit-transition: all .5s ease-in-out;
	    		transition: all .5s ease-in-out;
	    		-webkit-transition-delay: .25s;
	    		transition-delay: .25s;
	    		z-index: 2;
			}

			&:after
			{
				background: #000;
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				-webkit-transition: all .5s ease-in-out;
	    		transition: all .5s ease-in-out;
	    		z-index: 1;
			}
		}

		.img-wrapper-artist
		{
			position: relative;

			&:before
			{
				content: "View Artist";
				color: $color-white;
				@extend .h2;
				font-weight: 800;
				position: absolute;
				top: 50%;
				width:100%;
				text-align: center;
				margin: auto;
				opacity: 0;
				-webkit-transition: all .5s ease-in-out;
	    		transition: all .5s ease-in-out;
	    		-webkit-transition-delay: .25s;
	    		transition-delay: .25s;
	    		z-index: 2;
			}

			&:after
			{
				background: #000;
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				-webkit-transition: all .5s ease-in-out;
	    		transition: all .5s ease-in-out;
	    		z-index: 1;
			}
		}

		img
		{
			width: 100%;
		}

		span
		{
			margin: 1rem 0 .5rem;
		}


	}
}
