---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }} / {{ page.name }}</title>

	{% include unfurlpage.html %}

	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>
					<span class="h2">Artist</span>
					<h1>
						<a class="show-link" href="{{ page.bandcamp }}" target="_blank" title="{{ page.name }}" rel="nofollow">{{ page.name }}</a>
					</h1>

					<br/>

					{{ page.content }}

					<span class="h2">Members</span>
					<p>{{ page.members }}</p>
					<span class="h2">Genres</span>
					<p>{{ page.genre }}</p>

				</article>
				<aside>
					<img src="{{ page.images[0].url }}" alt="{{ page.images[0].alt }}" />
				</aside>
			</div>
		</section>
		<section class="project-navigation">
			<div class="container">
				{% if page.previous %}
				<a title="Previous {{ page.previous.project.title }}" href="{{ page.previous.url }}" class="prev">
					<span class="h2">Previous</span>
					<h2>{{ page.previous.name }}</h2>
				</a>
				{% else %}
				<a>
					<span></span>
					<h2></h2>
				</a>
				{% endif %}
				{% if page.next %}
				<a title="Next {{ page.next.project.title }}" href="{{ page.next.url }}" class="next">
					<span class="h2">Next</span>
					<h2>{{ page.next.name }}</h2>
				</a>
				{% endif %}
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" }}"></script>
	<script src="{{ "/assets/scripts/project.js" }}"></script>
</body>
</html>
