<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ page.project.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>
					<span class="h2">Album</span>
					<h1>
						<a class="show-link" href="{{ page.project.url }}" target="_blank" title="{{ page.project.name }}" rel="nofollow">{{ page.project.name }}</a>
					</h1>
					
					<span class="h2">Genre</span>
					<p>{{ page.project.genre }}</p>

					{{ page.content }}

					<span class="h2">Listen</span>
					<div class="release-listen">
						<iframe style="border: 0; width: 100%; height: 439px;" src="https://bandcamp.com/EmbeddedPlayer/album={{ page.project.embed }}/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="{{ page.project.url }}">{{ page.project.name }} by {{ page.artist.name }}</a></iframe>
					</div>

					<div class="project-meta">
						<span class="h2">Artist</span>
						<p><a class="show-link" title="{{ page.artist.name }}" href="{{ site.baseurl }}/artists/{{ page.artist.slug }}">{{ page.artist.name }}</a></p>
						<span class="h2">Release Date</span>
						<p>{{ page.project.releaseDate }}</p>
					</div>
				</article>
				<aside>
					<ul>
						{% for image in page.images %}
						<li>
							<img src="{{ image.url | prepend: site.baseurl }}" alt="{{ image.alt }}" />
						</li>
						{% endfor %}
					</ul>
				</aside>
			</div>
		</section>
		<section class="project-navigation">
			<div class="container">
				{% if page.previous %}
				<a title="Previous {{ page.previous.project.name }}" href="{{ page.previous.url | prepend: site.baseurl }}" class="prev">
					<span class="h2">Previous</span>
					<h2>{{ page.previous.project.name }}</h2>
				</a>
				{% else %}
				<a>
					<span></span>
					<h2></h2>
				</a>
				{% endif %}
				{% if page.next %}
				<a title="Next {{ page.next.project.name }}" href="{{ page.next.url | prepend: site.baseurl }}" class="next">
					<span class="h2">Next</span>
					<h2>{{ page.next.project.name }}</h2>
				</a>
				{% endif %}
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>